@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

.partners {
	margin: 70px auto 56px;
	width: 283px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	/* height: 300px; */
}

.partners-title {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 700;
	font-size: 22.0041px;
	line-height: 27px;
	text-align: center;
}

.partners-btn {
	width: 280px;
	height: 40px;
	border-radius: 20px;
	border: 2px solid red;
	margin-top: 40px;

	color: red;
	background-color: white;

	font-family: "Montserrat";
	font-style: normal;
	font-weight: 700;
	font-size: 14.001px;
	line-height: 17px;
}

.btn-container {
	width: 280px;
	height: 40px;
	border-radius: 20px;
	border: 2px solid red;

	color: white;
	background-color: red;
}

main li {
	width: 247px;
	height: 195px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	box-sizing: content-box;
	margin-top: 31px;
}

.partners-about {
	text-align: center;
}

.title {
	font-size: 32px;
	line-height: 37px;
	display: flex;
	align-items: flex-end;
	text-align: center;
	text-transform: uppercase;
}

h3 a {
	font-size: 18px;
	line-height: 22px;
	display: flex;
	align-items: flex-end;
	text-align: center;
	text-transform: uppercase;
}
/* .partners-img {
	margin-left: auto;
	margin-top: auto;
} */
